In [2]:
print("hi")

hi

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [5]:
diabetes = pd.read_csv('diabetes.csv')
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
summary_diabetes = (
    diabetes
    .agg(['mean', 'median', 'std'])      
    .T                                  
    .assign(nunique=diabetes.nunique())  
    .round(3)                           
)

summary_diabetes

                             mean   median      std  nunique
Pregnancies                 3.845    3.000    3.370       17
Glucose                   120.895  117.000   31.973      136
BloodPressure              69.105   72.000   19.356       47
SkinThickness              20.536   23.000   15.952       51
Insulin                    79.799   30.500  115.244      186
BMI                        31.993   32.000    7.884      248
DiabetesPedigreeFunction    0.472    0.372    0.331      517
Age                        33.241   29.000   11.760       52
Outcome                     0.349    0.000    0.477        2

In [7]:
pip install chardet

Requirement already satisfied: chardet in /Users/wujinhua/Desktop/Rice/Research/LLMLASSO/.venv/lib/python3.11/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import chardet

with open("Most Streamed Spotify Songs 2024.csv", "rb") as f:
    result = chardet.detect(f.read(10_000))   # sample 10 KB
    enc = result["encoding"]
    print("Detected encoding:", enc)

spotify = pd.read_csv("Most Streamed Spotify Songs 2024.csv", encoding=enc)
spotify

Detected encoding: ISO-8859-1

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [9]:
import re

In [10]:
num_cols  = spotify.select_dtypes(include="number").columns.tolist()
obj_cols  = spotify.select_dtypes(exclude="number").columns.tolist()

print(f"Numeric columns   ({len(num_cols)}): {num_cols}\n")
print(f"Non-numeric cols ({len(obj_cols)}): {obj_cols}\n")

Numeric columns   (7): ['Track Score', 'Spotify Popularity', 'Apple Music Playlist Count', 'Deezer Playlist Count', 'Amazon Playlist Count', 'TIDAL Popularity', 'Explicit Track']

Non-numeric cols (22): ['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC', 'All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

In [11]:
Rank = spotify['All Time Rank']
Rank

0           1
1           2
2           3
3           4
4           5
        ...
4595    4,585
4596    4,575
4597    4,571
4598    4,591
4599    4,593
Name: All Time Rank, Length: 4600, dtype: object

In [12]:
def is_numeric_like(col: pd.Series, thresh: float = 0.95) -> bool:
    """
    Return True if, after stripping commas/spaces, at least `thresh`
    fraction of non-null values can be parsed as numbers.
    """
    if col.dtype != object:
        return False
    
    cleaned = (
        col.astype(str)
           .str.replace(r"[,\s]", "", regex=True)
           .replace({"": np.nan})
    )
    numeric = pd.to_numeric(cleaned, errors="coerce")
    return numeric.notna().mean() >= thresh
obj_cols = spotify.select_dtypes(exclude="number").columns.tolist()
numeric_like = [c for c in obj_cols if is_numeric_like(spotify[c])]
textual_cols = [c for c in obj_cols if c not in numeric_like]
print("Detected numeric-like (string → numeric):")
print(numeric_like, "\n")
print("Remaining textual columns:")
print(textual_cols, "\n")

Detected numeric-like (string → numeric):
['All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach']

Remaining textual columns:
['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

In [13]:
Counts = spotify['Shazam Counts']
Counts

0        2,669,262
1        1,118,279
2        5,285,340
3       11,822,942
4          457,017
           ...
4595       656,337
4596       193,590
4597     1,135,998
4598       448,292
4599       767,006
Name: Shazam Counts, Length: 4600, dtype: object

In [14]:
Views = spotify['YouTube Views']
Views

0          84,274,754
1         116,347,040
2         122,599,116
3       1,096,100,899
4          77,373,957
            ...
4595      149,247,747
4596      943,920,245
4597      201,027,333
4598    1,118,595,159
4599      866,300,755
Name: YouTube Views, Length: 4600, dtype: object

In [15]:
def auto_numeric(df, thresh=0.90):
    """
    Convert object columns that are ≥ `thresh` fraction numeric-like
    (after stripping commas/space) to float.
    """
    obj_cols = df.select_dtypes(exclude="number").columns
    for c in obj_cols:
        cleaned = df[c].astype(str).str.replace(r"[,\s]", "", regex=True)
        ok_ratio = cleaned.str.fullmatch(r"\d+(\.\d+)?").mean()
        if ok_ratio >= thresh:
            df[c] = pd.to_numeric(cleaned, errors="coerce")
    return df

spotify_auto = auto_numeric(spotify.copy(), thresh=0.90)
print(spotify_auto.dtypes)

Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                   int64
Track Score                   float64
Spotify Streams               float64
Spotify Playlist Count        float64
Spotify Playlist Reach        float64
Spotify Popularity            float64
YouTube Views                 float64
YouTube Likes                 float64
TikTok Posts                   object
TikTok Likes                   object
TikTok Views                   object
YouTube Playlist Reach         object
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach          object
Amazon Playlist Count         float64
Pandora Streams                object
Pandora Track Stations         object
Soundcloud Streams             object
Shazam Counts                  object
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object

In [16]:
 sample = spotify.apply(lambda s: s.dropna().iloc[0] if not s.dropna().empty else np.nan)
 sample

Track                                  MILLION DOLLAR BABY
Album Name                    Million Dollar Baby - Single
Artist                                       Tommy Richman
Release Date                                     4/26/2024
ISRC                                          QM24S2402528
All Time Rank                                            1
Track Score                                          725.4
Spotify Streams                                390,470,936
Spotify Playlist Count                              30,716
Spotify Playlist Reach                         196,631,588
Spotify Popularity                                    92.0
YouTube Views                                   84,274,754
YouTube Likes                                    1,713,126
TikTok Posts                                     5,767,700
TikTok Likes                                   651,565,900
TikTok Views                                 5,332,281,936
YouTube Playlist Reach                         150,597,040
Apple Music Playlist Count                           210.0
AirPlay Spins                                       40,975
SiriusXM Spins                                         684
Deezer Playlist Count                                 62.0
Deezer Playlist Reach                           17,598,718
Amazon Playlist Count                                114.0
Pandora Streams                                 18,004,655
Pandora Track Stations                              22,931
Soundcloud Streams                               4,818,457
Shazam Counts                                    2,669,262
TIDAL Popularity                                       NaN
Explicit Track                                           0
dtype: object

In [17]:
import pandas as pd
import numpy as np
import re

########################################################################
# 0 – (Re)load and normalise column names
########################################################################
spotify = pd.read_csv("Most Streamed Spotify Songs 2024.csv",
                      encoding="ISO-8859-1")

spotify.columns = (
    spotify.columns
          .str.strip()          # remove leading/trailing spaces
          .str.replace(" +", " ", regex=True)  # squash double spaces
)

########################################################################
# 1 – columns to keep as text
########################################################################
keep_text = ["Track", "Album Name", "Artist", "ISRC"]

########################################################################
# 2 – Release Date  → numeric offset
########################################################################
if "Release Date" in spotify.columns:
    spotify["Release Date"] = pd.to_datetime(
        spotify["Release Date"], errors="coerce", infer_datetime_format=True
    )

    origin = spotify["Release Date"].min()
    spotify["release_days"] = (spotify["Release Date"] - origin).dt.days

    # drop only once; harmless if repeated because we guard with `if`
    spotify.drop(columns=["Release Date"], inplace=True, errors="ignore")

########################################################################
# 3 – helper to coerce numeric-like object columns
########################################################################
def force_numeric(series):
    return (
        series.astype(str)
              .str.replace(r"[,\s]", "", regex=True)
              .replace({"": np.nan, "N/A": np.nan, "—": np.nan})
              .astype(float)
    )

########################################################################
# 4 – convert everything except the text columns
########################################################################
for col in spotify.columns:
    if col in keep_text:
        continue
    if spotify[col].dtype == "object":
        spotify[col] = force_numeric(spotify[col])

########################################################################
# 5 – verify
########################################################################
print(spotify.dtypes)

Track                          object
Album Name                     object
Artist                         object
ISRC                           object
All Time Rank                 float64
Track Score                   float64
Spotify Streams               float64
Spotify Playlist Count        float64
Spotify Playlist Reach        float64
Spotify Popularity            float64
YouTube Views                 float64
YouTube Likes                 float64
TikTok Posts                  float64
TikTok Likes                  float64
TikTok Views                  float64
YouTube Playlist Reach        float64
Apple Music Playlist Count    float64
AirPlay Spins                 float64
SiriusXM Spins                float64
Deezer Playlist Count         float64
Deezer Playlist Reach         float64
Amazon Playlist Count         float64
Pandora Streams               float64
Pandora Track Stations        float64
Soundcloud Streams            float64
Shazam Counts                 float64
TIDAL Popularity              float64
Explicit Track                  int64
release_days                    int64
dtype: object

/var/folders/5w/ff16971n7g373q3_zm275bpr0000gn/T/ipykernel_2282/1754448165.py:26: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  spotify["Release Date"] = pd.to_datetime(

In [18]:
spotify

,Track,Album Name,Artist,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,release_days
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,QM24S2402528,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,...,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0,13429
1,Not Like Us,Not Like Us,Kendrick Lamar,USUG12400910,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,...,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1,13437
2,i like the way you kiss me,I like the way you kiss me,Artemas,QZJ842400387,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,...,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0,13391
3,Flowers,Flowers - Single,Miley Cyrus,USSM12209777,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,...,264.0,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0,12959
4,Houdini,Houdini,Eminem,USUG12403398,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,...,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1,13464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,QM8DG1703420,4585.0,19.4,3.050500e+08,65770.0,5103054.0,71.0,...,2.0,14217.0,NaN,20104066.0,13184.0,50633006.0,656337.0,NaN,1,11004
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,INT101800122,4575.0,19.4,5.228236e+07,4602.0,1449767.0,56.0,...,1.0,927.0,NaN,NaN,NaN,NaN,193590.0,NaN,0,11329
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,USUG12000043,4571.0,19.4,1.899727e+08,72066.0,6704802.0,65.0,...,1.0,74.0,6.0,84426740.0,28999.0,NaN,1135998.0,NaN,1,11910
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,INY091600067,4591.0,19.4,1.454670e+08,14037.0,7387064.0,66.0,...,NaN,NaN,7.0,6817840.0,NaN,NaN,448292.0,NaN,0,10703
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,USB271700107,4593.0,19.4,2.557407e+08,32138.0,14066526.0,64.0,...,4.0,127479.0,4.0,69006739.0,11320.0,NaN,767006.0,NaN,1,10857

In [20]:
spotify['release_days']

0       13429
1       13437
2       13391
3       12959
4       13464
        ...
4595    11004
4596    11329
4597    11910
4598    10703
4599    10857
Name: release_days, Length: 4600, dtype: int64

In [21]:
numerical = spotify.select_dtypes(include=["number"])
numerical

,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Posts,TikTok Likes,...,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,release_days
0,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,8.427475e+07,1713126.0,5767700.0,6.515659e+08,...,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0,13429
1,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,1.163470e+08,3486739.0,674700.0,3.522355e+07,...,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1,13437
2,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,1.225991e+08,2228730.0,3025400.0,2.751542e+08,...,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0,13391
3,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,1.096101e+09,10629796.0,7189811.0,1.078758e+09,...,264.0,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0,12959
4,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,7.737396e+07,3670188.0,16400.0,NaN,...,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1,13464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,4585.0,19.4,3.050500e+08,65770.0,5103054.0,71.0,1.492477e+08,1397590.0,48370.0,2.020200e+07,...,2.0,14217.0,NaN,20104066.0,13184.0,50633006.0,656337.0,NaN,1,11004
4596,4575.0,19.4,5.228236e+07,4602.0,1449767.0,56.0,9.439202e+08,5347766.0,NaN,1.721000e+03,...,1.0,927.0,NaN,NaN,NaN,NaN,193590.0,NaN,0,11329
4597,4571.0,19.4,1.899727e+08,72066.0,6704802.0,65.0,2.010273e+08,1081402.0,7596.0,5.288677e+06,...,1.0,74.0,6.0,84426740.0,28999.0,NaN,1135998.0,NaN,1,11910
4598,4591.0,19.4,1.454670e+08,14037.0,7387064.0,66.0,1.118595e+09,3868828.0,11433.0,2.534831e+06,...,NaN,NaN,7.0,6817840.0,NaN,NaN,448292.0,NaN,0,10703
4599,4593.0,19.4,2.557407e+08,32138.0,14066526.0,64.0,8.663008e+08,3826829.0,78000.0,1.005546e+07,...,4.0,127479.0,4.0,69006739.0,11320.0,NaN,767006.0,NaN,1,10857

In [25]:
numerical_filled = numerical.apply(lambda s: s.fillna(s.median()))
numerical_filled

/Users/wujinhua/Desktop/Rice/Research/LLMLASSO/.venv/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Posts,TikTok Likes,...,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,release_days
0,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,8.427475e+07,1713126.0,5767700.0,6.515659e+08,...,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0,13429
1,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,1.163470e+08,3486739.0,674700.0,3.522355e+07,...,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1,13437
2,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,1.225991e+08,2228730.0,3025400.0,2.751542e+08,...,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0,13391
3,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,1.096101e+09,10629796.0,7189811.0,1.078758e+09,...,264.0,24684248.0,210.0,190260277.0,203384.0,3224599.0,11822942.0,NaN,0,12959
4,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,7.737396e+07,3670188.0,16400.0,2.653441e+07,...,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1,13464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,4585.0,19.4,3.050500e+08,65770.0,5103054.0,71.0,1.492477e+08,1397590.0,48370.0,2.020200e+07,...,2.0,14217.0,17.0,20104066.0,13184.0,50633006.0,656337.0,NaN,1,11004
4596,4575.0,19.4,5.228236e+07,4602.0,1449767.0,56.0,9.439202e+08,5347766.0,182200.0,1.721000e+03,...,1.0,927.0,17.0,12735768.5,7832.0,3224599.0,193590.0,NaN,0,11329
4597,4571.0,19.4,1.899727e+08,72066.0,6704802.0,65.0,2.010273e+08,1081402.0,7596.0,5.288677e+06,...,1.0,74.0,6.0,84426740.0,28999.0,3224599.0,1135998.0,NaN,1,11910
4598,4591.0,19.4,1.454670e+08,14037.0,7387064.0,66.0,1.118595e+09,3868828.0,11433.0,2.534831e+06,...,15.0,237120.5,7.0,6817840.0,7832.0,3224599.0,448292.0,NaN,0,10703
4599,4593.0,19.4,2.557407e+08,32138.0,14066526.0,64.0,8.663008e+08,3826829.0,78000.0,1.005546e+07,...,4.0,127479.0,4.0,69006739.0,11320.0,3224599.0,767006.0,NaN,1,10857

In [26]:
summary_spotify = numerical_filled.agg(['mean', 'median', 'std']).T.round(2)
summary_spotify

/Users/wujinhua/Desktop/Rice/Research/LLMLASSO/.venv/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

                                    mean       median           std
All Time Rank               2.290680e+03       2290.5  1.322880e+03
Track Score                 4.184000e+01         29.9  3.854000e+01
Spotify Streams             4.422891e+08  239850720.0  5.327575e+08
Spotify Playlist Count      5.897877e+04      32312.5  7.066580e+04
Spotify Playlist Reach      2.318893e+07   13259481.0  2.948048e+07
Spotify Popularity          6.411000e+01         67.0  1.476000e+01
YouTube Views               3.857545e+08  148269610.0  6.809681e+08
YouTube Likes               2.815545e+06    1257935.0  4.453607e+06
TikTok Posts                7.499702e+05     182200.0  2.133783e+06
TikTok Likes                9.429377e+07   26534406.0  4.890001e+08
TikTok Views                9.702380e+08  265917250.0  5.229587e+09
YouTube Playlist Reach      2.900406e+08   98142716.0  6.010541e+08
Apple Music Playlist Count  5.136000e+01         28.0  6.766000e+01
AirPlay Spins               4.981427e+04       5953.5  1.217567e+05
SiriusXM Spins              1.782700e+02         86.0  4.159000e+02
Deezer Playlist Count       2.884000e+01         15.0  4.903000e+01
Deezer Playlist Reach       1.081535e+06     237120.5  3.204872e+06
Amazon Playlist Count       2.343000e+01         17.0  2.308000e+01
Pandora Streams             6.813206e+07   12735768.5  1.495898e+08
Pandora Track Stations      6.581240e+04       7832.0  2.248633e+05
Soundcloud Streams          6.426079e+06    3224599.0  1.764078e+07
Shazam Counts               2.319100e+06     854584.0  5.674452e+06
TIDAL Popularity                     NaN          NaN           NaN
Explicit Track              3.600000e-01          0.0  4.800000e-01
release_days                1.224433e+04      12734.0  1.325870e+03

In [27]:
import pandas as pd
import numpy as np

###############################################################################
# 1️⃣  Identify numeric columns
###############################################################################
num_cols = spotify.select_dtypes(include=["number"]).columns

###############################################################################
# 2️⃣  Copy the numeric part so the original DataFrame stays unchanged
###############################################################################
num_filled = spotify[num_cols].copy()

###############################################################################
# 3️⃣  Column-wise imputation
###############################################################################
for col in num_cols:
    col_data = num_filled[col]
    if col_data.notna().any():                 # at least one non-NaN
        median_val = col_data.median()
        num_filled[col] = col_data.fillna(median_val)
    else:                                      # column is fully NaN
        num_filled[col] = 0.0                  # or int(0) if you prefer

###############################################################################
# 4️⃣  Summary stats  (mean / median / std) after imputation
###############################################################################
summary = num_filled.agg(['mean', 'median', 'std']).T.round(2)
display(summary)

###############################################################################
# 5️⃣  (Optional) merge back into a full DataFrame
###############################################################################
spotify_imputed = spotify.copy()
spotify_imputed[num_cols] = num_filled

                                    mean       median           std
All Time Rank               2.290680e+03       2290.5  1.322880e+03
Track Score                 4.184000e+01         29.9  3.854000e+01
Spotify Streams             4.422891e+08  239850720.0  5.327575e+08
Spotify Playlist Count      5.897877e+04      32312.5  7.066580e+04
Spotify Playlist Reach      2.318893e+07   13259481.0  2.948048e+07
Spotify Popularity          6.411000e+01         67.0  1.476000e+01
YouTube Views               3.857545e+08  148269610.0  6.809681e+08
YouTube Likes               2.815545e+06    1257935.0  4.453607e+06
TikTok Posts                7.499702e+05     182200.0  2.133783e+06
TikTok Likes                9.429377e+07   26534406.0  4.890001e+08
TikTok Views                9.702380e+08  265917250.0  5.229587e+09
YouTube Playlist Reach      2.900406e+08   98142716.0  6.010541e+08
Apple Music Playlist Count  5.136000e+01         28.0  6.766000e+01
AirPlay Spins               4.981427e+04       5953.5  1.217567e+05
SiriusXM Spins              1.782700e+02         86.0  4.159000e+02
Deezer Playlist Count       2.884000e+01         15.0  4.903000e+01
Deezer Playlist Reach       1.081535e+06     237120.5  3.204872e+06
Amazon Playlist Count       2.343000e+01         17.0  2.308000e+01
Pandora Streams             6.813206e+07   12735768.5  1.495898e+08
Pandora Track Stations      6.581240e+04       7832.0  2.248633e+05
Soundcloud Streams          6.426079e+06    3224599.0  1.764078e+07
Shazam Counts               2.319100e+06     854584.0  5.674452e+06
TIDAL Popularity            0.000000e+00          0.0  0.000000e+00
Explicit Track              3.600000e-01          0.0  4.800000e-01
release_days                1.224433e+04      12734.0  1.325870e+03

In [29]:
import pandas as pd, numpy as np
from pathlib import Path

###############################################################################
# helper functions (unchanged, except coerce_numeric now returns df always)
###############################################################################
def load_csv(path, sep=","):
    try:
        return pd.read_csv(path, sep=sep)
    except UnicodeDecodeError:
        return pd.read_csv(path, sep=sep, encoding="ISO-8859-1")

def coerce_numeric(df):
    for col in df.columns:
        coerced = pd.to_numeric(
            df[col].astype(str).str.replace(r"[,\s]", "", regex=True),
            errors="coerce"
        )
        if coerced.notna().any():
            df[col] = coerced.astype(float)
    return df

def impute_median_or_zero(df):
    for col in df.select_dtypes(include="number"):
        if df[col].notna().any():
            df[col] = df[col].fillna(df[col].median())
        else:
            df[col] = 0.0
    return df

def summarize(df):
    num = df.select_dtypes(include="number")
    if num.empty:
        return None
    return num.agg(['mean', 'median', 'std']).T.round(2)

###############################################################################
# CSV paths **plus the proper delimiter** for each file
###############################################################################
csv_paths = {
    # path                           # delimiter
    "bank-full"            : ("bank+marketing/bank/bank-full.csv",           ";"),
    "bank"                 : ("bank+marketing/bank/bank.csv",                ";"),
    "bank-additional-full" : ("bank+marketing/bank-additional/bank-additional-full.csv", ";"),
    "bank-additional"      : ("bank+marketing/bank-additional/bank-additional.csv",       ";"),

    "TCGA_Mutations_all"   : ("glioma+grading+clinical+and+mutation+features+dataset/TCGA_GBM_LGG_Mutations_all.csv", ","),
    "TCGA_InfoWithGrade"   : ("glioma+grading+clinical+and+mutation+features+dataset/TCGA_InfoWithGrade.csv",         ","),

    "winequality-red"      : ("wine+quality/winequality-red.csv",   ";"),
    "winequality-white"    : ("wine+quality/winequality-white.csv", ";"),

    "diabetes"             : ("diabetes.csv", ","),

    "spotify"              : ("Most Streamed Spotify Songs 2024.csv", ","),
}

###############################################################################
# process each file
###############################################################################
summaries, out_dir = {}, Path("numeric_summaries")
out_dir.mkdir(exist_ok=True)

for name, (path_str, sep) in csv_paths.items():
    path = Path(path_str)
    print(f"\n🔹 Processing {name:<25}  sep='{sep}'")

    if not path.exists():
        print("   ⚠️  File not found, skipping.")
        continue

    df = load_csv(path, sep=sep)
    df = impute_median_or_zero(coerce_numeric(df))
    summary = summarize(df)

    if summary is None:
        print("   ℹ️  No numeric columns detected.")
        continue

    display(summary.head())
    summary.to_csv(out_dir / f"{name}_summary.csv")
    summaries[name] = summary
    print(f"   ✅ saved → {out_dir / (name + '_summary.csv')}")

🔹 Processing bank-full                  sep=';'

             mean  median      std
age         40.94    39.0    10.62
balance   1362.27   448.0  3044.77
day         15.81    16.0     8.32
duration   258.16   180.0   257.53
campaign     2.76     2.0     3.10

   ✅ saved → numeric_summaries/bank-full_summary.csv

🔹 Processing bank                       sep=';'

             mean  median      std
age         41.17    39.0    10.58
balance   1422.66   444.0  3009.64
day         15.92    16.0     8.25
duration   263.96   185.0   259.86
campaign     2.79     2.0     3.11

   ✅ saved → numeric_summaries/bank_summary.csv

🔹 Processing bank-additional-full       sep=';'

            mean  median     std
age        40.02    38.0   10.42
duration  258.29   180.0  259.28
campaign    2.57     2.0    2.77
pdays     962.48   999.0  186.91
previous    0.17     0.0    0.49

   ✅ saved → numeric_summaries/bank-additional-full_summary.csv

🔹 Processing bank-additional            sep=';'

            mean  median     std
age        40.11    38.0   10.31
duration  256.79   181.0  254.70
campaign    2.54     2.0    2.57
pdays     960.42   999.0  191.92
previous    0.19     0.0    0.54

   ✅ saved → numeric_summaries/bank-additional_summary.csv

🔹 Processing TCGA_Mutations_all         sep=','
   ℹ️  No numeric columns detected.

🔹 Processing TCGA_InfoWithGrade         sep=','

                   mean  median    std
Grade              0.42    0.00   0.49
Gender             0.42    0.00   0.49
Age_at_diagnosis  50.94   51.55  15.70
Race               0.11    0.00   0.37
IDH1               0.48    0.00   0.50

   ✅ saved → numeric_summaries/TCGA_InfoWithGrade_summary.csv

🔹 Processing winequality-red            sep=';'

                  mean  median   std
fixed acidity     8.32    7.90  1.74
volatile acidity  0.53    0.52  0.18
citric acid       0.27    0.26  0.19
residual sugar    2.54    2.20  1.41
chlorides         0.09    0.08  0.05

   ✅ saved → numeric_summaries/winequality-red_summary.csv

🔹 Processing winequality-white          sep=';'

                  mean  median   std
fixed acidity     6.85    6.80  0.84
volatile acidity  0.28    0.26  0.10
citric acid       0.33    0.32  0.12
residual sugar    6.39    5.20  5.07
chlorides         0.05    0.04  0.02

   ✅ saved → numeric_summaries/winequality-white_summary.csv

🔹 Processing diabetes                   sep=','

                 mean  median     std
Pregnancies      3.85     3.0    3.37
Glucose        120.89   117.0   31.97
BloodPressure   69.11    72.0   19.36
SkinThickness   20.54    23.0   15.95
Insulin         79.80    30.5  115.24

   ✅ saved → numeric_summaries/diabetes_summary.csv

🔹 Processing spotify                    sep=','

/Users/wujinhua/Desktop/Rice/Research/LLMLASSO/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

                  mean  median      std
Track              inf   508.5      NaN
Album Name       39.33    36.0   119.56
Artist           41.00    41.0     0.00
All Time Rank  2290.68  2290.5  1322.88
Track Score      41.84    29.9    38.54

   ✅ saved → numeric_summaries/spotify_summary.csv

In [30]:
import pandas as pd
import numpy as np
import warnings
from pathlib import Path

###############################################################################
# ▸ 1.  Silence the specific NumPy warning globally
###############################################################################
np.seterr(invalid="ignore")  # suppress RuntimeWarning: invalid value encountered in subtract

# If you prefer to keep other warnings intact, you can also wrap the summary step
# in a local context manager (see comment further below).

###############################################################################
# ▸ 2.  Helper functions
###############################################################################
def load_csv(path, sep=","):
    """Read CSV with fallback encoding."""
    try:
        return pd.read_csv(path, sep=sep)
    except UnicodeDecodeError:
        return pd.read_csv(path, sep=sep, encoding="ISO-8859-1")

def coerce_numeric(df):
    """Turn numeric-like object columns into float; leave true text unchanged."""
    for col in df.columns:
        coerced = pd.to_numeric(
            df[col].astype(str).str.replace(r"[,\s]", "", regex=True),  # strip commas/space
            errors="coerce",
        )
        if coerced.notna().any():        # at least one real number
            df[col] = coerced.astype(float)
    return df

def impute_median_or_zero(df):
    """
    • If a numeric column has ≥1 non-NaN → fill NaNs with column median.
    • If it is entirely NaNs → fill with 0.
    """
    for col in df.select_dtypes(include="number"):
        if df[col].notna().any():
            df[col] = df[col].fillna(df[col].median())
        else:
            df[col] = 0.0
    return df

def summarize(df):
    """Return mean/median/std for every numeric column (rounded)."""
    num = df.select_dtypes(include="number").fillna(0)  # final sweep: no NaNs left
    if num.empty:
        return None
    # Optionally silence warnings only here:
    # with warnings.catch_warnings():
    #     warnings.filterwarnings("ignore", category=RuntimeWarning, message="invalid value encountered")
    #     return num.agg(['mean', 'median', 'std']).T.round(2)
    return num.agg(['mean', 'median', 'std']).T.round(2)

###############################################################################
# ▸ 3.  CSV paths + proper delimiter (same list as before)
###############################################################################
csv_paths = {
    "bank-full"            : ("bank+marketing/bank/bank-full.csv",           ";"),
    "bank"                 : ("bank+marketing/bank/bank.csv",                ";"),
    "bank-additional-full" : ("bank+marketing/bank-additional/bank-additional-full.csv", ";"),
    "bank-additional"      : ("bank+marketing/bank-additional/bank-additional.csv",       ";"),
    "TCGA_Mutations_all"   : ("glioma+grading+clinical+and+mutation+features+dataset/TCGA_GBM_LGG_Mutations_all.csv", ","),
    "TCGA_InfoWithGrade"   : ("glioma+grading+clinical+and+mutation+features+dataset/TCGA_InfoWithGrade.csv",         ","),
    "winequality-red"      : ("wine+quality/winequality-red.csv",   ";"),
    "winequality-white"    : ("wine+quality/winequality-white.csv", ";"),
    "diabetes"             : ("diabetes.csv", ","),
    "spotify"              : ("Most Streamed Spotify Songs 2024.csv", ","),
}

###############################################################################
# ▸ 4.  Process each dataset and store summaries
###############################################################################
summaries, out_dir = {}, Path("numeric_summaries")
out_dir.mkdir(exist_ok=True)

for name, (path_str, sep) in csv_paths.items():
    path = Path(path_str)
    print(f"\n🔹 Processing {name:<25}  sep='{sep}'")
    if not path.exists():
        print("   ⚠️  File not found, skipping.")
        continue

    df = load_csv(path, sep=sep)
    df = impute_median_or_zero(coerce_numeric(df))

    summary = summarize(df)
    if summary is None:
        print("   ℹ️  No numeric columns detected.")
        continue

    display(summary.head())  # show a preview inside Jupyter
    summary.to_csv(out_dir / f"{name}_summary.csv")
    summaries[name] = summary
    print(f"   ✅ saved → {out_dir / (name + '_summary.csv')}")

print("\n🎉  All done!")

🔹 Processing bank-full                  sep=';'

             mean  median      std
age         40.94    39.0    10.62
balance   1362.27   448.0  3044.77
day         15.81    16.0     8.32
duration   258.16   180.0   257.53
campaign     2.76     2.0     3.10

   ✅ saved → numeric_summaries/bank-full_summary.csv

🔹 Processing bank                       sep=';'

             mean  median      std
age         41.17    39.0    10.58
balance   1422.66   444.0  3009.64
day         15.92    16.0     8.25
duration   263.96   185.0   259.86
campaign     2.79     2.0     3.11

   ✅ saved → numeric_summaries/bank_summary.csv

🔹 Processing bank-additional-full       sep=';'

            mean  median     std
age        40.02    38.0   10.42
duration  258.29   180.0  259.28
campaign    2.57     2.0    2.77
pdays     962.48   999.0  186.91
previous    0.17     0.0    0.49

   ✅ saved → numeric_summaries/bank-additional-full_summary.csv

🔹 Processing bank-additional            sep=';'

            mean  median     std
age        40.11    38.0   10.31
duration  256.79   181.0  254.70
campaign    2.54     2.0    2.57
pdays     960.42   999.0  191.92
previous    0.19     0.0    0.54

   ✅ saved → numeric_summaries/bank-additional_summary.csv

🔹 Processing TCGA_Mutations_all         sep=','
   ℹ️  No numeric columns detected.

🔹 Processing TCGA_InfoWithGrade         sep=','

                   mean  median    std
Grade              0.42    0.00   0.49
Gender             0.42    0.00   0.49
Age_at_diagnosis  50.94   51.55  15.70
Race               0.11    0.00   0.37
IDH1               0.48    0.00   0.50

   ✅ saved → numeric_summaries/TCGA_InfoWithGrade_summary.csv

🔹 Processing winequality-red            sep=';'

                  mean  median   std
fixed acidity     8.32    7.90  1.74
volatile acidity  0.53    0.52  0.18
citric acid       0.27    0.26  0.19
residual sugar    2.54    2.20  1.41
chlorides         0.09    0.08  0.05

   ✅ saved → numeric_summaries/winequality-red_summary.csv

🔹 Processing winequality-white          sep=';'

                  mean  median   std
fixed acidity     6.85    6.80  0.84
volatile acidity  0.28    0.26  0.10
citric acid       0.33    0.32  0.12
residual sugar    6.39    5.20  5.07
chlorides         0.05    0.04  0.02

   ✅ saved → numeric_summaries/winequality-white_summary.csv

🔹 Processing diabetes                   sep=','

                 mean  median     std
Pregnancies      3.85     3.0    3.37
Glucose        120.89   117.0   31.97
BloodPressure   69.11    72.0   19.36
SkinThickness   20.54    23.0   15.95
Insulin         79.80    30.5  115.24

   ✅ saved → numeric_summaries/diabetes_summary.csv

🔹 Processing spotify                    sep=','

                  mean  median      std
Track              inf   508.5      NaN
Album Name       39.33    36.0   119.56
Artist           41.00    41.0     0.00
All Time Rank  2290.68  2290.5  1322.88
Track Score      41.84    29.9    38.54

   ✅ saved → numeric_summaries/spotify_summary.csv

🎉  All done!