In [1]:
print("hi")

hi

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [4]:
diabetes = pd.read_csv('diabetes.csv')
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
summary_diabetes = (
    diabetes
    .agg(['mean', 'median', 'std'])      
    .T                                  
    .assign(nunique=diabetes.nunique())  
    .round(3)                           
)

summary_diabetes

                             mean   median      std  nunique
Pregnancies                 3.845    3.000    3.370       17
Glucose                   120.895  117.000   31.973      136
BloodPressure              69.105   72.000   19.356       47
SkinThickness              20.536   23.000   15.952       51
Insulin                    79.799   30.500  115.244      186
BMI                        31.993   32.000    7.884      248
DiabetesPedigreeFunction    0.472    0.372    0.331      517
Age                        33.241   29.000   11.760       52
Outcome                     0.349    0.000    0.477        2

In [15]:
pip install chardet

Collecting chardet
  Downloading chardet-5.2.0-py3-none-any.whl.metadata (3.4 kB)
Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
Installing collected packages: chardet
Successfully installed chardet-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
import chardet

with open("Most Streamed Spotify Songs 2024.csv", "rb") as f:
    result = chardet.detect(f.read(10_000))   # sample 10 KB
    enc = result["encoding"]
    print("Detected encoding:", enc)

spotify = pd.read_csv("Most Streamed Spotify Songs 2024.csv", encoding=enc)
spotify

Detected encoding: ISO-8859-1

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),ArcÃ¯Â¿Â½Ã¯Â¿Â½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [18]:
import re

In [19]:
num_cols  = spotify.select_dtypes(include="number").columns.tolist()
obj_cols  = spotify.select_dtypes(exclude="number").columns.tolist()

print(f"Numeric columns   ({len(num_cols)}): {num_cols}\n")
print(f"Non-numeric cols ({len(obj_cols)}): {obj_cols}\n")

Numeric columns   (7): ['Track Score', 'Spotify Popularity', 'Apple Music Playlist Count', 'Deezer Playlist Count', 'Amazon Playlist Count', 'TIDAL Popularity', 'Explicit Track']

Non-numeric cols (22): ['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC', 'All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

In [20]:
Rank = spotify['All Time Rank']
Rank

0           1
1           2
2           3
3           4
4           5
        ...
4595    4,585
4596    4,575
4597    4,571
4598    4,591
4599    4,593
Name: All Time Rank, Length: 4600, dtype: object

In [22]:
def is_numeric_like(col: pd.Series, thresh: float = 0.95) -> bool:
    """
    Return True if, after stripping commas/spaces, at least `thresh`
    fraction of non-null values can be parsed as numbers.
    """
    if col.dtype != object:
        return False
    
    cleaned = (
        col.astype(str)
           .str.replace(r"[,\s]", "", regex=True)
           .replace({"": np.nan})
    )
    numeric = pd.to_numeric(cleaned, errors="coerce")
    return numeric.notna().mean() >= thresh
obj_cols = spotify.select_dtypes(exclude="number").columns.tolist()
numeric_like = [c for c in obj_cols if is_numeric_like(spotify[c])]
textual_cols = [c for c in obj_cols if c not in numeric_like]
print("Detected numeric-like (string â†’ numeric):")
print(numeric_like, "\n")
print("Remaining textual columns:")
print(textual_cols, "\n")

Detected numeric-like (string â†’ numeric):
['All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach']

Remaining textual columns:
['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

In [23]:
Counts = spotify['Shazam Counts']
Counts

0        2,669,262
1        1,118,279
2        5,285,340
3       11,822,942
4          457,017
           ...
4595       656,337
4596       193,590
4597     1,135,998
4598       448,292
4599       767,006
Name: Shazam Counts, Length: 4600, dtype: object

In [24]:
Views = spotify['YouTube Views']
Views

0          84,274,754
1         116,347,040
2         122,599,116
3       1,096,100,899
4          77,373,957
            ...
4595      149,247,747
4596      943,920,245
4597      201,027,333
4598    1,118,595,159
4599      866,300,755
Name: YouTube Views, Length: 4600, dtype: object

In [27]:
def auto_numeric(df, thresh=0.90):
    """
    Convert object columns that are â‰¥ `thresh` fraction numeric-like
    (after stripping commas/space) to float.
    """
    obj_cols = df.select_dtypes(exclude="number").columns
    for c in obj_cols:
        cleaned = df[c].astype(str).str.replace(r"[,\s]", "", regex=True)
        ok_ratio = cleaned.str.fullmatch(r"\d+(\.\d+)?").mean()
        if ok_ratio >= thresh:
            df[c] = pd.to_numeric(cleaned, errors="coerce")
    return df

spotify_auto = auto_numeric(spotify.copy(), thresh=0.90)
print(spotify_auto.dtypes)

Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                   int64
Track Score                   float64
Spotify Streams               float64
Spotify Playlist Count        float64
Spotify Playlist Reach        float64
Spotify Popularity            float64
YouTube Views                 float64
YouTube Likes                 float64
TikTok Posts                   object
TikTok Likes                   object
TikTok Views                   object
YouTube Playlist Reach         object
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach          object
Amazon Playlist Count         float64
Pandora Streams                object
Pandora Track Stations         object
Soundcloud Streams             object
Shazam Counts                  object
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object